<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/User/IdeaProjects/FireCrowd">
        <classes>
            <class name="org.firecrowd.ProjectMenu.TestNgSample1">
                <methods>
                    <include name="openBrowser"/>
                </methods>
            </class>
            <class name="org.firecrowd.ProjectMenu.TestNgSample2">
                <methods>
                    <include name="openBrowser"/>
                </methods>
            </class>
            <class name="org.firecrowd.ProjectMenu.TestNgSample3">
                <methods>
                    <include name="openBrowser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>